<%- include("partials/header")%>
Login Form 
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Enter the username">
    <input type="password" name="password" placeholder="Enter the password">
    <button class="btn btn-success">Login</button>
</form>
<br><li><a href="/register">Register</a></li>
<%- include("partials/footer")%>
